@use "../../abstract" as var;

.new-year-info {
    background-color: var.$brand-blue;
}

.new-year-info__container {
    padding-top: 40px;
    padding-bottom: 40px;

    text-align: center;
    color: #ffffff;
}

.new-year-info__title {
    margin: 0;

    font-size: 28px;
}

@include var.desktop-size {

    .new-year-info__container {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    

    .new-year-info__title {
        font-size: 46px;
    }
}