@use "../../abstract" as var;

.price-weekend__title {
    margin-top: 20px;
    margin-bottom: 0;

    font-size: 18px;
    font-family: Kurale, sans-serif;

    span {
        display: block;

        font-weight: 400;
        font-size: 16px;
    }
}

.price-weekend__list {
    margin-top: 15px;
}

@include var.tablet-size {

    .price-weekend__title {
        font-size: 24px;
    }
}