@use "../abstract" as var;

.container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}

@include var.tablet-size {

  .container {
    max-width: var.$tablet-width;
  }
}

@include var.desktop-size {

  .container {
    max-width: var.$desktop-width;
  }
}
