@use "../abstract" as var;

.price {
  display: none;
  width: 100%;
  max-width: 480px;
  padding: 36px 0;

  color: var.$brand-white;

  background-color: var.$brand-blue;
  background-image:
          url("../images/top_brand_bg.png"),
          url("../images/bottom_brand_bg.png");
  background-position: top left, bottom left;
  background-size: 283px 30px, 283px 30px;
  background-repeat: repeat-x, repeat-x;
}

.price__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;

  text-align: center;
}

.price__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;

  img {
    margin: 0;
  }

  h3 {
    margin: 0;

    font-size: 22px;
    font-family: "Forum", sans-serif;
  }
}

.price__title {
    margin-top: 0;
    margin-bottom: 15px;

    font-size: 18px;
    font-family: "Forum", sans-serif;
}

.price__list {
    @extend %list-reset;
}

.price__item {
    position: relative;

    font-size: 14px;

    &::after {
        content: '';

        display: block;
        width: 10%;
        height: 2px;
        margin: 10px auto 0;

        background-color: #ffffff;
    }

    &:last-child::after {
        display: none;
    }
}

.price--ushmor {
  background-color: #c55f48;
}

.fancybox__content > .carousel__button.is-close {
    right: -8px;
}

@include var.tablet-size {

  .price {
    max-width: 480px;
  }

  .price__wrapper {
    padding: 20px;
  }

  .price__header {

    img {
        width: 140px;
        height: auto;
    }

    h3 {
        font-size: 28px;
    }

  }

  .price__title {
    font-size: 22px;
  }
}