@use "../abstract" as var;

.address-item__title {
  margin-top: 0;
  margin-bottom: 5px;
}

.address-item__description {
  margin: 0;

  span {
    font-size: 13px;
  }
}

.address-item__link {
  color: var.$brand-brown;
  text-decoration: underline;
}

@include var.tablet-size {

  .address-item__title {
    font-size: 16px;
  }
}
