@use "../abstract" as var;

.awards {
    width: 100%;
    z-index: 2;

    color: #ffffff;
}

.awards__list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.awards__btn {
    margin-top: 20px;
    height: 34px;
    padding-top: 0;
    padding-bottom: 0;

    .btn__text {
        text-transform: none;
        font-size: 14px;
    }
}

@include var.tablet-size {

    .awards__list {
        gap: 40px;
    }

    .awards__img {
        width: 120px;
    }

    .awards__btn {
        height: 40px;
        margin-top: 30px;
    }
}