@use "../abstract" as var;

.house-item__wrapper {
  padding: 60px 15px;

  text-align: center;
}

.house-item__title {
  margin-top: 0;
  margin-bottom: 20px;

  font-family: Kurale, sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;

  span {
    display: inline-block;
    width: 100%;

    font-family: Raleway, sans-serif;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
  }
}

.house-item__carousel {
  margin-bottom: 15px;
}

.house-item__description {
  margin-top: 0;
  margin-bottom: 20px;

  font-size: 16px;
}

.house-item__btn {
  margin-top: 20px;
}

.house-item--pra {
  color: var.$brand-white;

  background-color: var.$brand-blue;
  background-image: url("../images/top_brand_bg.png");
  background-position: top left;
  background-size: 283px 30px;
  background-repeat: repeat-x;
}

.house-item--ushmor {
  color: var.$brand-brown;

  background-color: var.$brand-primary;
  background-image: url("../images/bottom_brand_bg.png");
  background-position: bottom left;
  background-size: 283px 30px;
  background-repeat: repeat-x;
}

@include var.tablet-size {

  .house-item__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    margin: 0 auto;
    padding: 15px;
  }

  .house-item__btn {
    align-self: center;
    margin-top: auto;
  }

  .house-item--pra,
  .house-item--ushmor {
    background-image: none;
  }
}

@include var.desktop-size {

  .house-item__carousel {
    margin-bottom: 20px;
  }

  .house-item__title {
    font-size: 32px;
  }


}
