@use "../abstract" as var;

.location__address {
  margin-bottom: 20px;
}

@include var.tablet-size {

  .location__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  .location__address,
  .location__map {
    width: calc((100% - 30px) / 2);
  }

  .location__address {
    order: 2;
    margin-bottom: 0;
  }

  .location__map {
    order: 1;
    margin-right: 30px;
  }
}

@include var.desktop-size {

  .location__container {
    align-items: flex-start;
  }

  .location__address,
  .location__map {
    width: calc((100% - 60px) / 2);
  }

  .location__map {
    margin-right: 60px;
  }
}
