@use "../abstract" as var;

.pra-interior__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.pra-interior__item {
  width: calc((100% - 10px * 3) / 4);
  margin-bottom: 20px;
  margin-right: 10px;

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 4) {
    margin-bottom: 0;
  }
}

@include var.mobile-size {

}

@include var.tablet-size {

}

@include var.desktop-size {

}
