@use "../abstract" as var;

.pra-territory__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}

.pra-territory__item {
  width: calc((100% - 10px * 2) / 3);
  margin-right: 10px;

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.pra-territory__item--four  {
  width: calc((100% - 20px) / 2);
  margin-right: 20px;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-child(3n) {
    margin-right: 20px;
  }

  &:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
}

@include var.mobile-size {

  .pra-territory__item {
    width: calc((100% - 20px * 2) / 3);
    margin-right: 20px;
  }

  .pra-territory__item--four {
    width: calc((100% - 20px * 3) / 4);
    margin-right: 20px;
    margin-bottom: 0;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
