@use "../abstract" as var;

.pra-interior-item {
  position: relative;

  text-align: center;

  &::before {
    content: '';

    display: block;
    width: 44px;
    height: 44px;
    margin: 0 auto 20px;

    background-size: cover;
    background-repeat: no-repeat;
  }
}

.pra-interior-item--library::before {
  background-image: url("../images/ico-library.png");
}

.pra-interior-item--billiard::before {
  background-image: url("../images/ico-billiard.png");
}

.pra-interior-item--wifi::before {
  background-image: url("../images/ico-wifi.png");
}

.pra-interior-item--tv::before {
  background-image: url("../images/ico-tv.png");
}

.pra-interior-item--bed::before {
  background-image: url("../images/ico-bed.png");
}

.pra-interior-item--furnace::before {
  background-image: url("../images/ico-furnace.png");
}

.pra-interior-item--piano::before {
  background-image: url("../images/ico-piano.png");
}

.pra-interior-item--dinner-table::before {
  background-image: url("../images/ico-dinner-table.png");
}

.pra-interior-item--tennis::before {
  background-image: url("../images/ico-tennis.svg");
}

.pra-interior-item__title {
  margin: 0;

  font-size: 16px;
  font-weight: 500;
}

@include var.mobile-size {

  .pra-interior-item {
    padding: 10px;

    &::before {
      width: 64px;
      height: 64px;
    }
  }
}
