@use "../abstract" as var;

.social__list {
  @extend %list-reset;
}

.social__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 0;
  }
}

.social__list--inline {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 10px;

  .social__item {
    margin-bottom: 0;
  }
}
