@use "../abstract" as var;

.ushmor-features__item {
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

@include var.tablet-size {

  .ushmor-features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
  }

  .ushmor-features__item {
    width: calc((100% - 20px) / 2);
    margin-right: 20px;

    &:nth-child(2) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@include var.desktop-size {

  .ushmor-features__item {
    width: calc((100% - 60px * 2) / 3);
    margin-right: 60px;
    margin-bottom: 0;

    &:nth-child(2) {
      margin-right: 60px;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
