@use "../../abstract" as var;

.info-popup {

    p {
        margin-top: 0;
        margin-bottom: 10px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    a {
        color: var.$brand-brown;
    }
}

.info-popup__phone {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;

    font-family: "Forum", sans-serif;
    font-size: 24px;
}

.info-popup__title {
    font-size: 16px;
    text-decoration: underline;

    color: var.$brand-danger;
}