@use "../../abstract" as var;

.wedding-main__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 2rem 1rem;
}

.wedding-main__image {
    position: relative;

    width: 100%;
    min-height: 70vh;
}

.wedding-main__title {
    position: relative;

    margin: 0;
    padding-top: 110px;

    font-family: "Forum", sans-serif;

    &::before {
        content: '';

        position: absolute;
        top: 0;
        left: 50%;

        display: block;
        width: 90px;
        height: 100px;
        margin-left: -50px;

        background-image: url("../images/logo_pra_no-text_grey.png");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.wedding-main__subtitle {
    margin: 0;

    font-size: 1.25rem;
    font-family: "Forum", sans-serif;
}

.wedding-main__price {
    margin-top: 15px;
}

@include var.desktop-size {

    .wedding-main {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        min-height: 100vh;
    }

    .wedding-main__title {
        padding-top: 180px;

        &::before {
            width: 150px;
            height: 167px;
            margin-left: -75px;
        }
    }

    .wedding-main__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        padding: 7rem 7rem 5rem 7rem;
    
        text-align: center;
    }

    .wedding-main__image {
        width: 50%;
    }
}