@use "../../abstract" as var;

.pra-about {
    box-shadow: inset 0 1px 0 0 rgba(0, 0, 0, 0.075);
}

.pra-about__container {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
}

.pra-about__top {
    position: relative;

    width: 100%;
    height: 400px;
}

.pra-about__top .background-image {
    object-position: 50% 80%;
}

.pra-about__left {
    position: relative;

    width: 35%;
}

.pra-about__content {
    width: 65%;

    padding: 7rem 7rem 5rem 7rem;
}