@use "../abstract" as var;

.menu-subitem {
    padding: 10px 20px;

    border-radius: 10px;
    background-color: #ffffff;
}

.menu-subitem__item {
    margin-bottom: 10px;

    &:last-child {
        margin-bottom: 0;
    }
}

.menu-subitem__link {
    color: #574d4d;
}