@use "variables" as var;

$brand-white: var.$white;
$brand-black: var.$black;
$brand-primary: var.$platinum;
$brand-brown: var.$wizard;
$brand-green: var.$hiking;
$brand-blue: var.$open-seas;
$brand-danger: var.$fluorescent-red;
$brand-whatsapp: #4CAF50;
$brand-instagram: var.$vermillion-orange;
