$white: #ffffff;
$black: #000000;
$platinum: rgb(234, 225, 219);
$wizard: rgb(87,77,77);
$hiking: #9a9d66;
$open-seas: #86abbb;
$fluorescent-red: #FC595A;
$vermillion-orange: #f56040;

// SCREEN SIZE
$mobile-width-only: 767px;
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1280px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
